.catalog {


  &__promo-first {
    font-size: 16px;
    line-height: 20px;
    color: #111111;
  }

  &__promo-second {
    font-size: 12px;
    line-height: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #444444;
  }

}
