.additionally__item {
  list-style: none;
}

@media (min-width: $tablet) {
  .additionally {
    width: 768px;

    display: flex;
    flex-wrap: wrap;
  }

  .additionally__item {
    width: 50%;
  }
}

@media (min-width: $desktop) {
  .additionally {
    width: 1220px;
    padding: 0 60px;
  }

  .additionally__item {
    width: 25%;
  }
}
