.advantages {
  margin: 0 auto;
}

.advantages__title {
  margin-top: 9px;
  margin-bottom: 14px;
}

@media (min-width: $tablet) {
  .advantages__title {
    margin-top: 45px;
  }
}

@media (min-width: $desktop) {
  .advantages {
    width: 1220px;
    padding: 0 60px;
  }

  .advantages-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .advantages__title {
    padding-left: 60px;
    padding-top: 21px;
    margin-bottom: 55px;
  }
}
