.before-after {
  background-color: #f2f2f2;
}

.before-after__text {
  font-family: "Arial", "Helvetica", sans-serif;
}

.before-after__weight-time {
  list-style: none;
  display: flex;
}

.before-after__spent {
  display: flex;
  flex-direction: column;

  text-align: center;
}

.before-after__uppertext {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  color: #111111;
}

.before-after__undertext {
  font-size: 12px;
  line-height: 12px;
  font-family: "Arial", "Helvetica", sans-serif;
}

.before-after__cost {
  font-size: 14px;
  line-height: 20px;
  color: #111111;

  text-align: center;
}

.before-after__label {
  font-size: 16px;
  line-height: 20px;
  color: #111111;
}

.before-after__radio-btn {
  border: none;

  text-align: center;
}
