.before-after {
  background-color: #f2f2f2;
  max-width: 280px;
}

.before-after__title {
  padding-top: 16px;
  margin-bottom: 23px;
}

.before-after__text {
  padding-right: 10px;

  font-family: "Arial", "Helvetica", sans-serif;
}

.before-after__weight-time {
  padding: 0;
  padding-top: 24px;
  padding-bottom: 7px;

  list-style: none;
  display: flex;
  justify-content: space-around;
}

.before-after__spent {
  display: flex;
  flex-direction: column;

  text-align: center;
}

.before-after__uppertext {
  padding-bottom: 8px;
  padding-right: 5px;

  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  color: #111111;
}

.before-after__undertext {
  padding-right: 10px;

  width: 60px;
  font-size: 12px;
  line-height: 12px;
  font-family: "Arial", "Helvetica", sans-serif;
}

.before-after__cost {
  padding-bottom: 24px;

  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;

  text-align: center;
}

.before-after__image-before {
  padding-bottom: 49px;
}

.before-after__label {
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
}

.before-after__radio-btn {
  border: none;

  text-align: center;
}

@media (min-width: $tablet) {
  .before-after {
    background-color: #ffffff;
    width: 768px;
  }

  .before-after__title {
    padding-top: 56px;
    margin-bottom: 51px;
    white-space: nowrap;
  }

  .before-after__wrapper-out {
    display: flex;
    flex-wrap: wrap;

    width: 708px;
  }

  .before-after__text {
    width: 708px;

    font-size: 16px;
    line-height: 24px;
  }

  .before-after__weight-time {
    width: 50%;
  }

  .before-after__spent {
    padding-left: 20px;
    padding-top: 10px;
  }

  .before-after__cost {
    margin-left: auto;
    padding-top: 25px;

    width: 180px;

    font-size: 20px;
    line-height: 20px;
  }

  .before-after__uppertext {
    font-size: 30px;
    line-height: 37.02px;
    text-transform: uppercase;
  }

  .before-after__undertext {
    width: 174px;

    font-size: 14px;
    line-height: 14px;
  }

  .before-after__image-wrapper {
    width: 708px;
    height: 536px;
  }

  .before-after__image-before {
    background-image: url("../img/before-tablet@1x.png");
    width: 690px;
    height: 517px;
    background-color: black;

    display: none;
  }

  .before-after__image-after {
    background-image: url("../img/after-tablet@1x.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 690px;
    height: 519px;
    background-color: black;
  }
}

@media (min-width: $desktop) {
  .before-after {
    max-width: 1300px;
    padding: 0 40px;
    display: flex;
  }

  .before-after__title {
    margin-top: 0;
    padding-top: 2px;
    padding-left: 70px;
  }

  .before-after__wrapper-out {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-top: 79px;
    padding-left: 71px;
  }

  .before-after__text {
    width: 470px;
  }

  .before-after__weight-time {
    padding-left: 102px;
    padding-top: 44px;
  }

  .before-after__cost {
    margin-left: 0;
    padding-left: 0;
    padding-top: 17px;

    text-align: left;
    white-space: nowrap;
  }

  .before-after__image-wrapper {
    margin-left: auto;
  }
}
