.button {
  background-color: #68b738;
  color: #ffffff;
  text-decoration: none;

  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  width: 280px;
  padding: 12px 0;

  align-items: center;
}

.button--program {
  font-size: 14px;
  line-height: 18px;
}

@media (min-width: $tablet) {
  .button--program {
    width: 240px;
    margin-left: 89px;

    font-size: 20px;
    line-height: 20px;

    text-align: center;
  }
}
