// .catalog-main {
//   // background-color: #ffffff;
// }

@media (min-width: $desktop) {
  .catalog-main__wrapper {
    width: 1300px;
    padding: 0 40px;
    margin-top: 72px;

    display: flex;
  }
}
