.catalog {
  font-size: 16px;
  line-height: 20px;
}

.catalog__title {
  margin: 0;
  padding-top: 16px;
}

.catalog__item {
  list-style: none;
}

.catalog__item--1 {
  padding-bottom: 12px;
}

.catalog__item--2 {
  padding-bottom: 12px;
}

.catalog__item--3 {
  padding-bottom: 12px;
}

.catalog__item--4 {
  padding-bottom: 12px;
}

.catalog__item--5 {
  padding-bottom: 12px;
}

.catalog__item--6 {
  padding-bottom: 12px;
}

.catalog__item--7 {
  padding-bottom: 12px;
}

.catalog__item--add {
  min-height: 210px;
  padding-top: 33px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.catalog__promo-first {
  margin: 0;
  padding-top: 47px;
  padding-left: 39px;

  color: #111111;
  text-transform: uppercase;
}

.catalog__list {
  padding: 0;
}

.catalog__promo-second {
  padding-left: 30px;
  margin-bottom: 21px;
  margin-top: 7px;

  font-size: 12px;
  line-height: 16px;
  font-family: "Arial", "Helvetica", sans-serif;
  color: #444444;
}

.catalog__btn-all {
  width: 280px;
  height: 40px;

  text-align: center;

  background-color: #f2f2f2;
  color: #444444;
  line-height: 40px;
  text-decoration: none;
  text-transform: uppercase;
}

@media (min-width: $tablet) {
  .catalog__list {
    // max-width: 768px;

    display: flex;
    flex-wrap: wrap;
  }

  .catalog__title {
    padding-top: 52px;
  }

  .catalog__item {
    width: 324px;
    min-height: 540px;

    // padding-left: 97px;
  }

  .catalog__item:nth-child(2n) {
    padding-left: 29px;
  }

  .catalog__item--1 {
    padding-bottom: 37px;
  }

  .catalog__item--3 {
    padding-bottom: 41px;
  }

  .catalog__item--5 {
    padding-bottom: 46px;
  }

  .catalog__item--add {
    width: 335px;
    margin-left: 45px;
    padding-top: 240px;

    text-align: center;
  }

  .catalog__promo-first {
    width: 224px;
    padding-left: 74px;
    padding-bottom: 18px;

    font-size: 20px;
    line-height: 20px;

    // text-align: center;
  }

  .catalog__promo-second {
    width: 250px;
    padding-left: 47px;

    font-size: 16px;
    line-height: 20px;
  }

  .catalog__btn-all {
    margin-top: 63px;
    margin-left: 24px;
    width: 250px;
  }
}

@media (min-width: $desktop) {
  .catalog__list {
    min-width: 1300px;
    margin-left: -69px;
    // padding: 0 40px;
    // justify-content: space-around;
  }

  .catalog__item {
    width: 245px;
    margin-top: 5px;
  }

  .catalog__title {
    padding-top: 69px;
  }

  .catalog__item:nth-child(2n) {
    padding-left: 0;
    margin-top: -4px;
  }

  // .catalog__item--1 {
  //   margin-right: 20px;
  //   margin-left: -74px;
  // }

  // .catalog__item--2 {
  //   margin-right: -32px;
  // }

  .catalog__item--3,
  .catalog__item--4 {
    margin-top: 6px;
  }

  .catalog__item--5,
  .catalog__item--6,
  .catalog__item--7 {
    margin-top: 3px;
  }

  .catalog__item--add {
    padding-top: 221px;
  }
}
