.categories {
  width: 320px;

  background-color: #ffffff;
  color: #111111;

  font-weight: normal;

  margin: 0 auto;
  padding: 0 20px;
}

.categories__wrapper {
  display: flex;
}

.categories__slim-pro {
  margin-top: 20px;

  background-color: #f2f2f2;
}

.categories__topic {
  font-size: 24px;
  line-height: 37.02px;
}

.categories__text {
  font-size: 14px;
  line-height: 18px;
  font-family: "Arial", serif;
  color: #444444;
}

.categories__link {
  color: #111111;
  font-size: 24px;
  line-height: 37.02px;
  text-decoration: none;
}
