.categories {
  background-color: #ffffff;
  color: #111111;

  font-weight: normal;

  // margin: 0 auto;
  // padding: 0 20px;
  padding-top: 40px;
}

.categories__wrapper {
  display: flex;
  align-items: center;
  // justify-content: center;

  margin-bottom: -11px;
  padding-left: 21px;
  padding-top: 8px;
}

.categories__slim-pro {
  min-height: 268px;
  margin-top: 20px;

  background-color: #f2f2f2;
}

.categories__logo {
  // width: 51px;
  // height: 51px;
  width: 60px;
  height: 54px;
  margin-top: 9px;
  margin-right: 11px;

  position: relative;

  // background-color: #68b738;
  // border-radius: 50%;

  &::before {
    position: absolute;
    content: "";

    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #68b738;

    top: 0;
    left: 0;
  }
}

.categories__topic {
  font-size: 24px;
  line-height: 37.02px;
  text-transform: uppercase;
}

.categories__text {
  font-size: 14px;
  line-height: 18px;
  font-family: "Arial", serif;
  color: #444444;

  padding: 0 20px;
  padding-bottom: 28px;
}

.categories__link {
  padding-left: 19px;
  margin-bottom: 23px;
  position: relative;

  color: #111111;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  text-transform: uppercase;

  &::after {
    content: "";
    position: absolute;

    background-image: url("../../img/icon-right-arrow-long.svg");
    background-position: 0 0;
    background-repeat: no-repeat;

    width: 25px;
    height: 14px;

    top: 7px;
    left: 115px;
  }
}

.categories__link:hover {
  &::after {
    background-image: url("../../img/icon-right-arrow-verylong.svg");
  }

  .categories__link:active {
    opacity: 0.3;
  }
}


@media (min-width: $tablet) {
  .categories {
    display: flex;
    flex-direction: column;
  }

  .categories__slim-pro {
    width: 708px;
    min-height: 372px;
    // margin-top: 30px;
    margin-bottom: 9px;

    background-color: #f2f2f2;
  }

  .categories__slim-pro:nth-last-child(1) {
    margin-bottom: 0;
  }

  .categories__wrapper {
    justify-content: initial;
  }

  // .categories__wrapper {
  //   padding-left: 53px;
  //   justify-content: space-around;
  // }

  .categories__topic {
    margin-top: 0;
    margin-right: 20%;
    padding-left: 33px;

    font-size: 36px;
    line-height: 37.02px;
  }

  .categories__text {
    width: 60%;
    margin-top: -81px;
    margin-bottom: 27px;
    padding-left: 52px;
    padding-right: 29px;

    font-size: 16px;
    line-height: 24px;
    font-family: "Arial", serif;
    color: #444444;
  }

  .categories__text--first {
    width: 65%;
  }

  .categories__logo {
    width: 200px;
    height: 200px;
    margin-left: auto;

    background-color: #68b738;
    border-radius: 50%;

    align-content: flex-end;
    order: 2;
  }

  .categories__link {
    padding-left: 52px;

    font-size: 20px;
    line-height: 20px;


    &::after {
      top: 11px;
      left: 184px;
    }
  }
}

@media (min-width: $desktop) {
  .categories {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    // width: 1300px;
    // padding: 0 40px;
    margin-top: 108px;
    margin-left: 70px;
  }

  .categories__slim-pro {
    width: 570px;
    margin-bottom: 0;
    margin-top: 128px;
  }

  .categories__slim-pro--second {
    margin-left: auto;
  }

  .categories__logo {
    width: 100px;
    height: 100px;
    margin-left: 43px;
    margin-top: 40px;
  }

  .categories__topic {
    margin-top: 71px;
    margin-right: 126px;
    padding-left: 47px;
    order: 2;
  }

  .categories__text {
    width: 100%;
    padding-top: 111px;
    // padding-left: 82px;
    margin-bottom: 4px;
  }

  .categories__link {
    padding-left: 52px;
  }
}
