.extra-product__headline {
  padding-top: 21px;

  font-size: 24px;
  line-height: 24px;
  color: #111111;
}

@media (min-width: $tablet) {
  .extra-product__headline {
    padding-left: 37px;
    padding-top: 74px;
    margin-top: 0;

    font-size: 36px;
    line-height: 36px;
  }
}

@media (min-width: $desktop) {
  .extra-product__headline {
    margin-left: -38px;
    padding-top: 0;
    padding-bottom: 48px;
    margin-top: 54px;
  }
}
