.head {
  font-size: 36px;
  line-height: 60px;
  color: #111111;
}

// @media (min-width: $tablet) {
//   .head {
//     width: 768px;
//     padding: 0 30px;
//   }

// @media (min-width: $desktop) {
//   .head {
//     width: 1220px;
//     padding: 0 60px;
//   }
// }
