.head {
  font-size: 36px;
  line-height: 60px;
  color: #111111;
}

@media (min-width: $tablet) {
  .head {
    font-size: 60px;
  }
}

// @media (min-width: $desktop) {
//   .head {
//     width: 1220px;
//     padding: 0 60px;
//   }
// }
