.main-nav {
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;

  color: #111111;
}

.main-nav__menu {
  list-style: none;
  margin-bottom: 16px;

  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.main-nav__toggle {
  margin-left: 20px;
  visibility: hidden;
}
