.page-form {
  // min-width: 320px;
  background-color: #ffffff;
}

.page-form__title {
  margin-top: 0;
  padding-top: 18px;
}

.page-form__fieldset {
  max-width: 320px;
  border: none;
}

// .page-form__fieldset--contacts {
//   padding-top: 32px;
// }

.page-form__questionary-text {
  color: #111111;
  // font-size: 14px;
  // line-height: 18px;
  padding-right: 49px;
  text-transform: uppercase;
}

.page-form__headline {
  font-size: 24px;
  line-height: 24px;
  color: #111111;
}

.page-form__headline--contacts {
  position: relative;

  padding-top: 34px;
  margin-left: -36px;
  padding-bottom: 28px;
  width: 186px;

  &::after {
    position: absolute;
    content: "";

    width: 125px;
    height: 3px;
    background-color: #68b738;

    top: 47px;
    left: 202px;
  }
}

.page-form__headline--comment {
  position: relative;

  margin-left: -36px;
  padding-bottom: 31px;
  padding-top: 6px;

  &::after {
    position: absolute;
    content: "";

    width: 175px;
    height: 3px;
    background-color: #68b738;

    top: 20px;
    left: 145px;
  }
}

.page-form__headline--additionary {
  position: relative;

  margin-left: -36px;
  padding-top: 15px;

  &::after {
    position: absolute;
    content: "";

    width: 155px;
    height: 3px;
    background-color: #68b738;

    top: 29px;
    left: 168px;
  }
}

.page-form__textarea {
  min-width: 283px;
  min-height: 150px;
  margin-left: -36px;
  padding-top: 11px;
  padding-left: 17px;

  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
}

.page-form__main {
  padding-top: 20px;
}

.page-form__request-text {
  padding-left: 78px;
  padding-top: 8px;

  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 16px;
}

.page-form__button-wrapper {
  width: 280px;
  margin-left: -36px;
  margin-top: -7px;

  border: none;

  // text-transform: uppercase;
  // font-family: "Oswald", sans-serif;
  // font-size: 16px;
  // line-height: 20px;
}

@media (min-width: $tablet) {
  .page-form__title {
    padding-top: 50px;
  }

  .page-form__fieldset {
    width: 768px;
    padding: 0 30px;
  }

  .page-form__questionary-text {
    width: 420px;
    padding-top: 15px;
    padding-left: 40px;
    padding-bottom: 9px;

    font-size: 20px;
    line-height: 30px;
  }

  .page-form__wrapper {
    display: flex;
    flex-direction: column;
  }

  .page-form__button-wrapper {
    display: flex;
    width: 300px;
    margin-top: 26px;
    padding-left: 30px;
  }

  .page-form__request-text {
    padding-top: 0;
    padding-left: 65px;
    min-width: 300px;

    font-size: 16px;
    line-height: 16px;
  }

  .page-form__headline--contacts {
    width: 530px;
    padding-top: 97px;
    padding-left: 13px;
    padding-bottom: 61px;

    font-size: 36px;
    line-height: 36px;

    &::before {
      position: absolute;
      content: "";

      width: 33px;
      height: 3px;
      background-color: #68b738;

      top: 119px;
      left: -59px;
    }

    &::after {
      width: 145px;
      height: 3px;

      top: 119px;
      left: 568px;
    }
  }

  .page-form__headline--additionary {
    margin-left: -25px;
    padding-top: 62px;
    padding-bottom: 31px;

    &::before {
      position: absolute;
      content: "";

      width: 33px;
      height: 3px;
      background-color: #68b738;

      top: 83px;
      left: -70px;
    }

    &::after {
      width: 460px;
      height: 3px;

      top: 84px;
      left: 255px;
    }
  }

  .page-form__headline {
    font-size: 36px;
    line-height: 36px;
  }

  .page-form__headline--comment {
    padding-top: 40px;
    padding-left: 13px;
    padding-bottom: 75px;

    &::before {
      position: absolute;
      content: "";

      width: 33px;
      height: 3px;
      background-color: #68b738;

      top: 62px;
      left: -59px;
    }

    &::after {
      width: 480px;
      height: 3px;

      top: 62px;
      left: 233px;
    }
  }

  .page-form__textarea {
    width: 630px;
    min-height: 174px;
    margin-left: -21px;

    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $desktop) {
  .page-form__fieldset {
    width: 1300px;
    padding: 0 40px;
  }

  .page-form__wrapper {
    // width: 1300px;
    // padding: 0 40px;
    flex-direction: row;
    margin-left: -29px;
  }

  .page-form__title {
    padding-top: 69px;
  }

  .page-form__headline--comment {
    padding-top: 40px;
    margin-left: -96px;

    &::before {
      width: 68px;

      top: 63px;
      left: -163px;
    }

    &::after {
      width: 1109px;

      top: 63px;
      left: 166px;
    }
  }

  .page-form__textarea {
    width: 1219px;
    margin-left: -81px;

    border: 1px solid grey;
  }

  .page-form__questionary-text {
    width: 415px;
    padding-bottom: 7px;
    padding-left: 0;
  }

  .page-form__headline--contacts {
    padding-top: 45px;
    margin-left: -97px;

    &::before {
      width: 69px;


      top: 67px;
      left: -164px;
    }

    &::after {
      width: 775px;

      top: 67px;
      left: 499px;
    }
  }

  .page-form__headline--additionary {
    margin-left: -85px;
    padding-top: 65px;
    padding-bottom: 53px;

    &::before {
      width: 70px;

      top: 88px;
      left: -176px;
    }

    &::after {
      width: 1082px;

      top: 88px;
      left: 182px;
    }
  }

  .page-form__button-wrapper {
    margin-top: 3px;
    padding-left: 0;
    margin-left: -55px;
  }

  .page-form__request-text {
    padding-left: 81px;

    white-space: nowrap;
  }
}
