.product {
  list-style: none;
}

.product__name {
  font-size: 16px;
  line-height: 20px;
  color: #111111;
}

.product__column {
  font-size: 12px;
  line-height: 16px;
  font-family: "Arial", "Helvetica", sans-serif;
  color: #444444;
}

.product__item {
  display: flex;
  flex-wrap: wrap;
}

.product__image {
  width: 45%;
}

.product__table {
  margin-left: auto;
}

@media (min-width: $tablet) {
  .product__item {
    display: flex;
    flex-direction: column;
  }

  .product__column {
    margin-left: auto;
  }

  .product__table {
    margin: 0;
  }

  .product__item--extra {
    flex-direction: row;
  }
}
