.profile {
  font-size: 16px;
  line-height: 18px;
  color: #222222;

  display: flex;
  flex-wrap: wrap;
  padding-right: 15px;
}

@media (min-width: $tablet) {
  .profile {
    width: 768px;
    padding: 0 30px;

    flex-direction: column;
  }
}

@media (min-width: $desktop) {
  .profile {
    width: 50%;
    flex-direction: column;
  }

  .profile--contact {
    flex-direction: row;
  }
}
