.program {
  min-width: 320px;
  margin-left: -69px;
}

.program__item {
  display: flex;
  list-style: none;
}

.program__item--less {
  padding-top: 6px;
  padding-bottom: 25px;
}

.program__item--mass {
  padding-bottom: 24px;
}

.program__input {
  margin-right: 24px;
}

.program__label {
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
}

@media (min-width: $tablet) {
  .program {
    width: 768px;
    padding: 0 30px;

    padding-top: 59px;
    padding-left: 85px;
  }

  .program__label {
    font-size: 20px;
    line-height: 20px;
  }

  .program__input {
    margin-right: 32px;
  }

  .program__item--less {
    padding-bottom: 34px;
  }

  .program__item--mass {
    padding-bottom: 32px;
  }
}

@media (min-width: $desktop) {
  .program {
    width: 570px;
    padding: 0;
    padding-top: 30px;
    padding-left: 83px;
  }
}
