.promo {
  position: relative;
  padding-top: 27px;

  color: #ffffff;
  font-family: "Oswald", serif;
  font-weight: normal;

  text-align: center;

  // background-image: url("../img/index-background-mobile@1x.jpg");
  // background-repeat: no-repeat;
  // background-position: 0 0;
  // background-size: cover;
  // background-color: #63a73a;

  // width: 100%;
  // // height: 305px;

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 305px;
    position: absolute;


    background-image: url("../img/index-background-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    background-color: #63a73a;

    top: 0;
    left: 0;
    z-index: -3;
  }
}

// .promo__head {
//   display: flex;
//   flex-direction: column;
//   align-content: center;

//   margin-top: -5px;
// }

.promo__headline {
  margin: 0;
  padding-bottom: 13px;
  font-size: 36px;
  line-height: 36px;
}

.promo__caption {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;

  // margin-top: -6px;
  // padding-left: 8px;
}

.promo__image {
  margin-top: 14px;
}

@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .promo {
    &::after {
      background-image: url("../img/index-background-mobile@2x.jpg");
      background-size: 320px auto;
      background-repeat: no-repeat;
       content: "";
      display: block;
      width: 100%;
      height: 305px;
      position: absolute;

      top: 0;
      left: 0;
      z-index: -3;
    }
  }
}


@media (min-width: $tablet) {
  .promo {
    background-image: none;

    color: #111111;
    font-weight: normal;

    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: left;

    // width: 768px;
    min-height: 842px;

    &::after {
      display: none;
    }
  }

  .promo__container {
    padding: 0 90px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  // .promo__head {
  //   width: 427px;
  //   padding-left: 87px;
  //   padding-top: 4px;

  //   z-index: 2;
  // }

  .promo__headline {
    max-width: 100%;
    margin-bottom: 9px;
    padding-top: 23px;
    padding-left: 27px;

    font-size: 60px;
    line-height: 60px;
  }

  .promo__caption {
    margin-bottom: 48px;
    padding-left: 28px;

    font-size: 20px;
    line-height: 20px;
  }

  .promo__picture {
    order: 4;
    margin-top: -40px;
    z-index: -1;
  }
}

@media (min-width: $desktop) {
  .promo {
    // width: 1300px;
    // padding: 0 40px;
    // min-height: 0;
    position: static;

    min-height: 634px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    &::after {
      display: block;
      width: 50%;
      height: 696px;
      right: 0;
      left: auto;

      background-image: url("../img/index-background-desktop@1x.jpg");
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: cover;
      background-color: #63a73a;
    }
  }

  .promo__head {
    width: 500px;
    padding-left: 150px;
    margin-top: -12px;
  }

  .promo__headline {
    width: 526px;
    margin: 0;
    margin-bottom: 41px;
    padding-left: 31px;
    padding-top: 75px;
  }

  .promo__caption {
    padding-left: 30px;
    margin-top: -11px;
  }

  .promo__picture {
    margin-left: 36%;
    margin-top: -34%;
  }

@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .promo {
    &::after {
  background-image: url("../img/index-background-desktop@2x.jpg");
  background-size: 720px auto;
  background-repeat: no-repeat;
    }
  }
 }
}

