.promo {
  background-color: #64a83b;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;

  color: #ffffff;
  font-weight: regular;

  display: flex;
  flex-direction: column;
  align-content: center;

  text-align: center;

  // width: 320px;
}

.promo__head {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.promo__headline {
  font-size: 36px;
  line-height: 36px;
}

.promo__caption {
  font-size: 14px;
  line-height: 14px;
}
