.stock {
  position: relative;
  // max-width: 280px;
  min-height: 289px;

  // margin: 0 auto;
  margin-top: 28px;
  margin-bottom: 7px;
  padding-top: 65px;
  padding-bottom: 25px;

  background-color: #67ab3e;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.stock__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.stock__text {
  width: 170px;
  // margin-top: 67%;
  // margin-left: 4%;

  font-size: 16px;
  line-height: 20px;
  font-family: "Arial", "Helvetica", sans-serif;
  color: #ffffff;
  text-align: center;
}

.stock__svg {
  fill: white;
  margin: 0 auto 46px;
  display: block;
}

@media (min-width: $tablet) {
  .stock {
    min-width: 100%;
    max-height: 200px;
    margin-top: 125px;
    min-height: 200px;

    background-color: #67ab3e;
    background-image: url("../img/gift-photo-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    // background-size: cover;

    &::after {
      top: 32%;
      left: 13%;
    }
  }

  .stock__text {
    width: 170px;
    margin-top: 10%;
    margin-left: 44%;

    text-align: left;
  }
}

@media (min-width: $desktop) {
  .stock {
    background-color: #67ab3e;
    background-image: url("../img/gift-photo-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;

    min-width: 245px;
    max-height: 290px;

    margin-left: 79px;
    margin-top: 173px;

    &::after {
      top: 23%;
      left: 39%;
    }
  }

  .stock__text {
    margin-top: 76%;
    margin-left: 1%;

    text-align: center;
  }
}
